* {
    font-size: 18px;
}

.table {
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    height: min-content;
}

.table tr {
    background: #e6e6e6;
}

.table th {
    background: #8ee286;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #6aa364;
}

.table tr:nth-child(2n + 1) {
    background: #c2c2c2;
}

.table td, th {
    padding: 20px;
    text-align: center;
}

.table td {
    border-right: 1px solid #b1b0b0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    color: #000;
    border: 1px solid #6aa364;
    background: #8ee286;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}