.table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    height: min-content;
    font-size: 32px;
}

.table tr {
    background: #e6e6e6;
}

.table th {
    background: #8ee286;
}

.table tr:nth-child(2n + 1) {
    background: #c2c2c2;
}

.table td, th {
    padding: 20px;
}